:root {
  /* Colors primary */
  --Tomato: hsl(4, 100%, 67%);

  /* Colors neutral */

  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  /* Font size paragraph */
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--Charcoal-Grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 996px) {
  body {
    margin-top: 60px;
  }
}
