<main class="main">
  <div class="left-container">
    <h1>Stay updated!</h1>
    <p>Join 60,000+ product managers receiving monthly updates on:</p>
    <ul>
      <li>Product discovery and building what matters</li>
      <li>Measuring to ensure updates are a success</li>
      <li>And much more!</li>
    </ul>
    <form (ngSubmit)="save(mail, emailForm)" #emailForm="ngForm">
      <div class="label-error">
        <label for="email">Email adress</label>
        <p *ngIf="emailInput.invalid && emailInput.touched" class="error">
          Valid email required
        </p>
      </div>

      <input
        required
        type="email"
        id="email"
        name="email"
        placeholder="email@company.com"
        [(ngModel)]="mail"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [ngClass]="emailInput.invalid && emailInput.touched ? 'error-form' : ''"
        email
        #emailInput="ngModel"
      />
      <button type="submit">Subscribe to monthly newsletter</button>
    </form>
  </div>
  <img src="../assets/illustration-sign-up-desktop.svg" alt="hero-img" />
</main>
